*{
    margin: 0;
    padding: o;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#header2{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center
}
body{
    background: #080808;
    color: #fff;
}
.container2{
    padding: 10px 10%;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #5c0096;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text2{
    margin-top: 20%;
    font-size: 30px;
    text-shadow: 3px 3px 7px black;
    text-align: center;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}
.header-text2 h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    margin: 20px;
    text-shadow: 3px 3px 7px black;
    text-align: center;
}
.header-text2 h1 span{
    color: #5c0096;
}
#login-btn{
    color: #5c0096;
}
#signup-btn{
    color: #5c0096;
}
#our-services{
    text-align: center;
    font-family: "Verdana", Times, serif;
    font-size: 60px;
}
#or-header{
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
}
#pt-header{
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
}
#pt-desc{
    text-align: center;
    padding-left: 30px;
    padding-bottom: 5px;
}
#or-desc{
    text-align: center;
    padding-left: 30px;
    padding-bottom: 5px;
}

#ft-header{
    
}

/**********/

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 90%;
    border-radius: 10px;
    display: block;
}


.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

#schedule-btn{
    text-align: center;
    margin-bottom: 20px;
}

.myButton{
    box-shadow:inset 0px 1px 0px 0px #5c0096;
	background:linear-gradient(to bottom, #5c0096 5%, #5c0096 100%);
	background-color:#5c0096;
	border-radius:6px;
	border:1px solid #5c0096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5c0096;
}
